.donut{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.donut:hover{
    transform: scale(1.05);
}
.donut:active{
    transform: scale(1.1);
}


button{
    font-weight: 600;
    background-color: rgb(6, 238, 6);
    border: solid 1px rgb(0, 126, 0);
    border-radius: 10px;
    width: 200px;
    height: 25px;
    cursor: pointer;
    transition: 0.3s ease;
}
button:hover{
    transform: scale(1.05);
}
button:active{
    transform: scale(1.11);
}



.container_btn p{
    font-size: 13px;
}

button:disabled{
    background-color: red;
    color: white;
}


.container_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.container_btn{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 90px 40px;
    text-align: center;
    width: 200px;
    padding: 10px 30px;
    margin: 10px;
    border: solid 1px red;
    border-radius: 15px;
}
